<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="book1" class="com.spring.model.Book">
		<property name="bookId" value="1111" />
		<property name="bookName" value="COREJAVA" />
	</bean>
	<bean id="book2" class="com.spring.model.Book">
		<property name="bookId" value="2222" />
		<property name="bookName" value="ADVJAVA" />
	</bean>
	<bean id="bookCollection" class="com.spring.model.BookCollection">
		<property name="bookList">
			<list>
				<ref bean="book1" />
				<ref bean="book2" />
			</list>
		</property>
	</bean>
	<bean id="bookLibrary" class="com.spring.model.BookLibrary">
		<property name="allBooks" value="#{bookCollection.bookList}" />
		<property name="getFirstBook" value="#{bookCollection.getFirstBook()}" />
	</bean>
</beans>